body {
    box-sizing: border-box;
}
div#header {
    height: 100px;
    background-color: #933;
    border-bottom: 2px solid #000;
}
div#main {
    width: 100%;
}
div#main div#dimensions {
    width: 25%;
}
div#main div.dimension {
    clear: both;
}
div#main div#dimensions div h2 {
    border-bottom: 1px solid #000;
    background-color: #4f0;
}
div#main div#dimensions div.facets {
}
div#main div#dimensions div.facets div.facet {
}
div#main div#dimensions div.facets div.facet div.name {
    width: 50%;
    text-align: left;
    background-color: #505;
}
div#main div#dimensions div.facets div.facet div.value {
    width: 50%;
    text-align: right;
    background-color: #050;
}
div#main div#fpid {
    width: 75%;
    background-color: #777;
}
div#footer {
    height: 100px;
    background-color: #711;
    border-top: 2px solid #000;
}
.float {
    float: left;
}
.clear {
    clear: both;
}
